
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://api.labelbox.com/static/labeling-api.js"></script>

<style>
  .app{
    height: 100vh;
  }
  .flex-column{
    flex-direction: column;
  }
  .flex-grow{
    display: flex;
    flex-grow: 1;
  }
  .asset{
    width: 100%;
  }
  .content{
    margin: 0px 20px;
  }
  .sidebar{
    display: flex;
    height: 100vh;
    border-right: 1px solid #e8e8e8;
    width: 300px;
  }

 .navbar{
   padding: 10px;
   border-bottom: 1px solid #e8e8e8;
 }

.btn{
  background-color: aqua
}
.btn:visited{
  background-color: yellow
}
.btn:hover {
  background-color: skyblue
}
.btn:active{
  background-color: pink;
}
.btn:focus{
  background-color: pink;
}
#questions{
  padding: 10px;
  overflow-y: auto;
}
.label{
  color: #717171;
}
.question{
  margin-bottom: 15px;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
  border-color: #03a9f4 !important;
}
[type="checkbox"].filled-in:checked+span:not(.lever):after {
  border-color: #03a9f4 !important;
  background-color: #03a9f4 !important;

}

textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #03a9f4 !important;
}
</style>

<div class="app flex-grow">
  <div class="flex-column sidebar">
    <div class="navbar">
      <i class="material-icons" style="color: #9b9b9b; cursor: pointer;" onclick="goHome()">home</i>
    </div>

    <div id="questions"></div>

    <div class="flex-grow"></div>
    <div style="display: flex;">
      <a class="waves-effect waves-light btn-large" style="background-color: white; color: black; width: 100%;">Skip</a>
      <a class="waves-effect waves-light btn-large" style="background-color: #03a9f4; width: 100%;">Submit</a>
    </div>
  </div>

  <div class="flex-grow flex-column content">
    <div style="display: flex; align-items: center; padding: 10px 0px">

      <i class="material-icons" style="color: #9b9b9b; margin-left: -5px">keyboard_arrow_left</i>

      <div style="color: #717171">dashbarm_footage.mp4</div>
    </div>
    <video class="asset" src="${dataToLabel}" autoplay controls></video>
  </div>
</div>


<script>
const defaultConfiguration = {
  "classifications": [
    {
      "name": "model",
      "instructions": "Select the car model",
      "type": "radio",
      "options": [
        {
          "value": "model_s",
          "label": "Tesla Model S"
        },
        {
          "value": "model_3",
          "label": "Tesla Model 3"
        },
        {
          "value": "model_x",
          "label": "Tesla Model X"
        }
      ]
    },
    {
      "name": "image_problems",
      "instructions": "Select all that apply",
      "type": "checklist",
      "options": [
        {
          "value": "blur",
          "label": "Blurry"
        },
        {
          "value": "saturated",
          "label": "Over Saturated"
        },
        {
          "value": "pixelated",
          "label": "Pixelated"
        }
      ]
    }
  ]
}

function createOptionQuestion({id, options, instructions}, type){
  const inputType = type == 'radio' ? 
    `<input class="with-gap" type="radio" name="group-${id}" />` :
    `<input type="checkbox" class="filled-in" />`

  const createOption = ({value, label}) => {
    return `
      <p>
        <label>
          ${inputType}
          <span>${label}</span>
        </label>
      </p>
    `
  }
  return `
    <div class="question" id="${id}">
      <div class="label">${instructions}</div>
      <form action="#">
        ${options.map(createOption).join('')}
      </form>
    </div>
  `;
}

function createTextInput({label}){
  return `
    <div class="question">
      <div class="input-field col s12">
        <div class="label">${label}</div>
        <textarea class="materialize-textarea" data-length="120"></textarea>
      </div>
    </div>
  `;
}

function createQuestion(question){
  if (question.type === 'text'){
    return createTextInput({ label: 'hi' });
  }

  if (question.type === 'radio'){
    return createOptionQuestion(question, 'radio');
  }

  if (question.type === 'checklist'){
    return createOptionQuestion(question, 'checkbox');
  }

  console.log('Unknown question type', question);
}

Labelbox.getTemplateCustomization().subscribe((customization) => {
  const classifications = customization && customization.classifications || defaultConfiguration;
  document.querySelector('#questions').innerHTML = classifications.map(createQuestion).join('');
});

function goHome(){
  const projectId = new URL(window.location.href).searchParams.get('project');
  window.location.href = 'https://app.labelbox.com/projects/'+projectId;
}


function label(label){
  Labelbox.setLabelForAsset(label).then(() => {
    Labelbox.fetchNextAssetToLabel();
  });
}

Labelbox.currentAsset().subscribe((asset) => {
  if (asset){
    drawItem(asset.data);
  }
})
function drawItem(dataToLabel){
  return;
  const labelForm = `
    <video src="${dataToLabel}" style="width: 300px;" autoplay controls></video>
    <div style="display: flex;">
      <button onclick="label('bad')">Bad Quality</button>
      <button onclick="label('good')">Good Quality</button>
    </div>
  `;
  document.querySelector('#form').innerHTML = labelForm;
}

</script>