
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://api.labelbox.com/static/labeling-api.js"></script>

<style>
  .app{
    height: 100vh;
  }
  .flex-column{
    flex-direction: column;
  }
  .flex-grow{
    display: flex;
    flex-grow: 1;
  }
  .asset{
    width: 100%;
  }
  .content{
    margin: 0px 20px;
  }
  .sidebar{
    display: flex;
    height: 100vh;
    border-right: 1px solid #e8e8e8;
    width: 300px;
    min-width: 300px;
  }

 .navbar{
   padding: 10px;
   border-bottom: 1px solid #e8e8e8;
 }

.btn{
  background-color: aqua
}
.btn:visited{
  background-color: yellow
}
.btn:hover {
  background-color: skyblue
}
.btn:active{
  background-color: pink;
}
.btn:focus{
  background-color: pink;
}
#questions{
  padding: 10px;
  overflow-y: auto;
}
.label{
  color: #717171;
}
.question{
  margin-bottom: 15px;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
  border-color: #03a9f4 !important;
}
[type="checkbox"].filled-in:checked+span:not(.lever):after {
  border-color: #03a9f4 !important;
  background-color: #03a9f4 !important;

}

input.materialize-textarea:focus:not([readonly]) {
  border-color: #03a9f4 !important;
}
</style>

<div class="app flex-grow">
  <div class="flex-column sidebar">
    <div class="navbar">
      <i class="material-icons" style="color: #9b9b9b; cursor: pointer;" onclick="goHome()">home</i>
    </div>

    <div id="questions"></div>

    <div class="flex-grow"></div>
    <div style="display: flex;">
      <a class="waves-effect waves-light btn-large" style="background-color: white; color: black; width: 100%;" onclick="skip()">Skip</a>
      <a class="waves-effect waves-light btn-large" style="background-color: #03a9f4; width: 100%;" onclick="submit()">Submit</a>
    </div>
  </div>

  <div class="flex-grow flex-column content">
    <div style="display: flex; align-items: center; padding: 10px 0px">

      <i id="back" class="material-icons" style="color: #9b9b9b; margin-left: -5px; opacity: 0.2;" onclick="goBack()">keyboard_arrow_left</i>

      <div style="color: #717171" id="externalid">Label this asset</div>
      <i id="next" class="material-icons" style="color: #9b9b9b; margin-left: -5px; opacity: 0.2;" onclick="goNext()">keyboard_arrow_right</i>
    </div>
    <div id="asset"></div>
  </div>
</div>


<script>
const defaultConfiguration = {
  "classifications": [
    {
      "name": "model",
      "instructions": "Select the car model",
      "type": "radio",
      "options": [
        {
          "value": "model_s",
          "label": "Tesla Model S"
        },
        {
          "value": "model_3",
          "label": "Tesla Model 3"
        },
        {
          "value": "model_x",
          "label": "Tesla Model X"
        }
      ]
    },
    {
      "name": "image_problems",
      "instructions": "Select all that apply",
      "type": "checklist",
      "options": [
        {
          "value": "blur",
          "label": "Blurry"
        },
        {
          "value": "saturated",
          "label": "Over Saturated"
        },
        {
          "value": "pixelated",
          "label": "Pixelated"
        }
      ]
    }
  ]
}

function createOptionQuestion({type, name, options, instructions}, answer){
  const createOption = ({value, label}) => {
    return `
      <p value=${value}>
        <label>
          ${
            type == 'radio' ?
              `<input class="with-gap" type="radio" name="group-${name}" valuetosubmit="${value}" ${answer === value ? 'checked' : ''} />` :
              `<input type="checkbox" class="filled-in" valuetosubmit="${value}" ${(answer || []).indexOf(value) !== -1 ? 'checked' : ''} />`
          }
          <span>${label}</span>
        </label>
      </p>
    `
  }
  return `
    <div class="question" id="${name}" questiontype="${type}">
      <div class="label">${instructions}</div>
      <form action="#">
        ${options.map(createOption).join('')}
      </form>
    </div>
  `;
}

function createTextInput({id, label}, answer){
  return `
    <div class="question" id="${id}" questiontype="text">
      <div class="input-field col s12">
        <div class="label">${label}</div>
        <input class="materialize-textarea" data-length="120" value="${answer || ''}"></input>
      </div>
    </div>
  `;
}

function createQuestion(question, answers){
  const optionalAnswer = (answers || {})[question.name];
  if (question.type === 'text'){
    return createTextInput({
      id: question.name,
      label: question.instructions
    }, optionalAnswer);
  }

  if (question.type === 'radio' || question.type === 'checklist'){
    return createOptionQuestion(question, optionalAnswer);
  }

  console.log('Unknown question type', question);
}

let currentAsset;
let classifications = [];
let markQuestionsAsLoaded;
new Promise((resolve) => {
  markQuestionsAsLoaded = resolve;
}).then(() => {
  Labelbox.currentAsset().subscribe((asset) => {
    if (asset){
      drawAsset(asset);
    }
  })
})

function drawQuestions(classifications, answers){
  document.querySelector('#questions').innerHTML = classifications
    .map((classification) => createQuestion(classification, answers))
    .join('');
}

Labelbox.getTemplateCustomization().subscribe((customization) => {
  classifications = customization && customization.classifications || defaultConfiguration;
  drawQuestions(classifications);
  markQuestionsAsLoaded()
});

function goHome(){
  const projectId = new URL(window.location.href).searchParams.get('project');
  window.location.href = 'https://app.labelbox.com/projects/'+projectId;
}

function skip(){
  Labelbox.skip();
}

function getLabel(){
  const getAnswer = (node) => {
    const key = node.getAttribute('id');
    const type = node.getAttribute('questiontype');
    if (type === 'text'){
      return {
        [key]: node.querySelector('input').value
      }
    }

    if (type === 'radio'){
      const inputs = Array.from(node.querySelectorAll('input'));
      const value = inputs
        .find((child) => child.checked)
        .getAttribute('valuetosubmit');
      return {
        [key]: value
      }
    }

    if (type === 'checklist'){
      const inputs = Array.from(node.querySelectorAll('input'));
      const value = inputs
        .filter((child) => child.checked)
        .map((child) => child.getAttribute('valuetosubmit'));
      return {
        [key]: value
      }
    }

    console.log('Unable to find type for', node);
  }

  const answers = Array.from(document.querySelector('#questions').children)
    .map(getAnswer)
  
  return Object.assign({}, ...answers);
}

function submit(){
  const label = JSON.stringify(getLabel());
  Labelbox.setLabelForAsset(label)

  // Progress is this asset is new
  if (!currentAsset.label){
    Labelbox.fetchNextAssetToLabel();
  }
}

function goBack(){
  Labelbox.setLabelAsCurrentAsset(currentAsset.previous);
}

function goNext(){
  Labelbox.setLabelAsCurrentAsset(currentAsset.next);
}

function drawAsset(asset){
  const labelForm = `
    <video class="asset" src="${asset.data}" controls autoplay></video>
  `;

  const backButton = document.querySelector('#back')
  backButton.style.opacity = asset.previous ? 1 : 0.2;
  backButton.style.cursor = asset.previous ? 'pointer' : 'none';
  const nextButton = document.querySelector('#next')
  nextButton.style.opacity = asset.next ? 1 : 0.2;
  nextButton.style.cursor = asset.next ? 'pointer' : 'none';

  document.querySelector('#asset').innerHTML = labelForm;
  if ((currentAsset && currentAsset.id) !== asset.id){
    if (asset.label){
      try{
        const label = JSON.parse(asset.label);
        drawQuestions(classifications, label);
      } catch(e){
        console.log('failed to read label', e);
      }
    } else {
      drawQuestions(classifications);
    }
  }
  currentAsset = asset;
}

</script>