
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://api.labelbox.com/static/labeling-api.js"></script>

<style>
  .app{
    height: 100vh;
  }
  .flex-column{
    flex-direction: column;
  }
  .flex-grow{
    display: flex;
    flex-grow: 1;
  }
  .asset{
    width: 100%;
  }
  .content{
    margin: 0px 20px;
  }
  .sidebar{
    display: flex;
    height: 100vh;
    border-right: 1px solid #e8e8e8;
    width: 300px;
  }

 .navbar{
   padding: 10px;
   border-bottom: 1px solid #e8e8e8;
 }

.btn{
  background-color: aqua
}
.btn:visited{
  background-color: yellow
}
.btn:hover {
  background-color: skyblue
}
.btn:active{
  background-color: pink;
}
.btn:focus{
  background-color: pink;
}
#questions{
  padding: 10px;
  overflow-y: auto;
}
.label{
  color: #717171;
}
.question{
  margin-bottom: 15px;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
  border-color: #03a9f4 !important;
}
[type="checkbox"].filled-in:checked+span:not(.lever):after {
  border-color: #03a9f4 !important;
  background-color: #03a9f4 !important;

}

textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #03a9f4 !important;
}
</style>

<div class="app flex-grow">
  <div class="flex-column sidebar">
    <div class="navbar">
      <i class="material-icons" style="color: #9b9b9b; cursor: pointer;" onclick="goHome()">home</i>
    </div>

    <div id="questions"></div>

    <div class="flex-grow"></div>
    <div style="display: flex;">
      <a class="waves-effect waves-light btn-large" style="background-color: white; color: black; width: 100%;" onclick="skip()">Skip</a>
      <a class="waves-effect waves-light btn-large" style="background-color: #03a9f4; width: 100%;" onclick="submit()">Submit</a>
    </div>
  </div>

  <div class="flex-grow flex-column content">
    <div style="display: flex; align-items: center; padding: 10px 0px">

      <i class="material-icons" style="color: #9b9b9b; margin-left: -5px">keyboard_arrow_left</i>

      <div style="color: #717171">dashbarm_footage.mp4</div>
    </div>
    <video class="asset" src="${dataToLabel}" autoplay controls></video>
  </div>
</div>


<script>
const defaultConfiguration = {
  "classifications": [
    {
      "name": "model",
      "instructions": "Select the car model",
      "type": "radio",
      "options": [
        {
          "value": "model_s",
          "label": "Tesla Model S"
        },
        {
          "value": "model_3",
          "label": "Tesla Model 3"
        },
        {
          "value": "model_x",
          "label": "Tesla Model X"
        }
      ]
    },
    {
      "name": "image_problems",
      "instructions": "Select all that apply",
      "type": "checklist",
      "options": [
        {
          "value": "blur",
          "label": "Blurry"
        },
        {
          "value": "saturated",
          "label": "Over Saturated"
        },
        {
          "value": "pixelated",
          "label": "Pixelated"
        }
      ]
    }
  ]
}

function createOptionQuestion({name, options, instructions}, type){
  const createOption = ({value, label}) => {
    return `
      <p value=${value}>
        <label>
          ${
            type == 'radio' ?
              `<input class="with-gap" type="radio" name="group-${name}" valuetosubmit="${value}" />` :
              `<input type="checkbox" class="filled-in" valuetosubmit="${value}" />`
          }
          <span>${label}</span>
        </label>
      </p>
    `
  }
  return `
    <div class="question" id="${name}" questiontype="${type}">
      <div class="label">${instructions}</div>
      <form action="#">
        ${options.map(createOption).join('')}
      </form>
    </div>
  `;
}

function createTextInput({id, label}){
  return `
    <div class="question" id="${id}" questiontype="text">
      <div class="input-field col s12">
        <div class="label">${label}</div>
        <textarea class="materialize-textarea" data-length="120"></textarea>
      </div>
    </div>
  `;
}

function createQuestion(question){
  if (question.type === 'text'){
    console.log(question); 
    return createTextInput({
      id: question.name,
      label: question.instructions
    });
  }

  if (question.type === 'radio'){
    return createOptionQuestion(question, 'radio');
  }

  if (question.type === 'checklist'){
    return createOptionQuestion(question, 'checkbox');
  }

  console.log('Unknown question type', question);
}

Labelbox.getTemplateCustomization().subscribe((customization) => {
  const classifications = customization && customization.classifications || defaultConfiguration;
  document.querySelector('#questions').innerHTML = classifications.map(createQuestion).join('');
});

function goHome(){
  const projectId = new URL(window.location.href).searchParams.get('project');
  window.location.href = 'https://app.labelbox.com/projects/'+projectId;
}

function skip(){
  Labelbox.skip();
}

function getLabel(){
  const getAnswer = (node) => {
    const key = node.getAttribute('id');
    const type = node.getAttribute('questiontype');
    if (type === 'text'){
      return {
        [key]: node.querySelector('textarea').value
      }
    }

    if (type === 'radio'){
      const inputs = Array.from(node.querySelectorAll('input'));
      const value = inputs
        .find((child) => child.value === 'on')
        .getAttribute('valuetosubmit');
      return {
        [key]: value
      }
    }

    if (type === 'checkbox'){
      const inputs = Array.from(node.querySelectorAll('input'));
      const value = inputs
        .filter((child) => child.checked)
        .map((child) => child.getAttribute('valuetosubmit'));
      return {
        [key]: value
      }
    }

    console.log('Unable to find type for', node);
  }

  const answers = Array.from(document.querySelector('#questions').children)
    .map(getAnswer)
  
  return Object.assign({}, ...answers);
}

function submit(){
  console.log('Here is the label to submit', getLabel());
  // Labelbox.setLabelForAsset()
}

function label(label){
  Labelbox.setLabelForAsset(label).then(() => {
    Labelbox.fetchNextAssetToLabel();
  });
}

Labelbox.currentAsset().subscribe((asset) => {
  if (asset){
    drawItem(asset.data);
  }
})
function drawItem(dataToLabel){
  return;
  const labelForm = `
    <video src="${dataToLabel}" style="width: 300px;" autoplay controls></video>
    <div style="display: flex;">
      <button onclick="label('bad')">Bad Quality</button>
      <button onclick="label('good')">Good Quality</button>
    </div>
  `;
  document.querySelector('#form').innerHTML = labelForm;
}

</script>